// Define variables for your color scheme

// For example:

$red: #fd1015;

$orange: #e67e22;

$pink: #f2055c;
$purple: #340040;
$blue: #07f2f2;
$green: #05f26c;
$yellow: #fde100;
$white: #fff;
$black: #242424;
$gray: #e4e4e4;
$light-gray: #ebe5eb;

$secondary: #f9c54d;

//Gray
$gray-50: #fff;
$gray-100: #f5f2f5;
$gray-200: #ebe5eb;


$gray-300: #d1d5db;
$gray-400: #9ca3af;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #374151;
$gray-800: #1f2937;
$gray-900: #111827;
$gray-950: #030712;
