<div class="banner" style="background-image: linear-gradient(rgb(0 0 0 / 23%),rgb(0 0 0 / 15%)), url(https://olympique.ca/wp-content/uploads/sites/2/2011/08/water-polo13.jpg?quality=100);">
  <div class="container" style="padding-top: 7rem">
    <h1 class="mb-3">Raise  your game</h1>
    <%= link_to "Let's play!", dashboard_path, class:"btn btn-secondary btn-lg fw-bold btn-home w-25" %>
  </div>
</div>
