<div class="row justify-content-center season-so-far">
  <div class="col-8">
    <h3 class="fw-bold text-center">Match Stats</h3>
    <table>
      <thead>
        <tr>
          <th class="text-center"><%= @game.team.name %></th>
          <th>&nbsp;</th>
          <th class="text-center"><%= @game.opponent_team.name %></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            45.4
          </td>
          <td>
            Field Shots %
          </td>
          <td>
            54.6
          </td>
        </tr>

        <tr>
          <td>
            46.9
          </td>
          <td>
            Center shot %
          </td>
          <td>
            53.1
          </td>
        </tr>

        <tr>
          <td>
            66.7
          </td>
          <td>
            6M direct shot %
          </td>
          <td>
            25
          </td>
        </tr>

        <tr>
          <td>
           87.5
          </td>
          <td>
            Extra player shot %
          </td>
          <td>
            54.6
          </td>
        </tr>

        <tr>
          <td>
            8
          </td>
          <td>
            Field exclusion
          </td>
          <td>
            6
          </td>
        </tr>

        <tr>
          <td>
            6
          </td>
          <td>
            Center position exclusion
          </td>
          <td>
            4
          </td>
        </tr>

        <tr>
          <td>
            1
          </td>
          <td>
            Penalty exclusion
          </td>
          <td>
            0
          </td>
        </tr>

        <tr>
          <td>
            100
          </td>
          <td>
            Penalty %
          </td>
          <td>
            0
          </td>
        </tr>

        <tr>
          <td>
            66.7
          </td>
          <td>
            Counter Attack %
          </td>
          <td>
            33.3
          </td>
        </tr>

        <tr>
          <td>
            1
          </td>
          <td>
            Turnover foul
          </td>
          <td>
            2
          </td>
        </tr>

        <tr>
          <td>
            11
          </td>
          <td>
            Steal
          </td>
          <td>
            13
          </td>
        </tr>

        <tr>
          <td>
            78
          </td>
          <td>
            Saves %
          </td>
          <td>
            56
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
