.page-header {
  background-color: #000;
  background-image: url(https://www.premierleague.com/resources/rebrand/v7.128.2/i/elements/backgrounds/promo-pattern-header-nrfr.svg);
  background-repeat: no-repeat;
  background-position: calc(100% + 1px) 100%;
  background-size: 32rem;
  border-bottom: 0.4rem solid #ebff00;
}
